---

import Tour from '../components/Tour.astro';
import Header from '../components/Header.vue';

let title = 'My Astro Site';


---


<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="stylesheet" href="https://use.typekit.net/wpg4ddv.css">
	<link rel="stylesheet" href="https://use.typekit.net/yek1mgt.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";

		.new-font{
			-webkit-text-stroke: .1vw #c0b3cb;
			-webkit-text-fill-color: transparent;
		}

		.hero{
			background: url('../../public/assets/images/hero-pattern.png') center center, url('../../public/assets/images/lights.png');
			background-size: cover;
			background-repeat: no-repeat;
	

		}

		.design-grain {
			position: absolute;
			left: 0%;
			top: 0%;
			right: 0%;
			bottom: 0%;
			z-index: 1000;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('../../public/assets/images/grain.png');
			background-position: 0px 0px;
			background-size: auto;
			opacity: 0.34;
		}

		

	</style>
		
</head>
<body>
<div class="design-grain"></div>
	<main class="bg-secondary-800 antialiased">
	<div class="hero pb-28">
		<Header client:visible/>
		<div class="max-w-7xl mx-auto px-4 sm:px-6">
				<div class="flex items-center"><h1 class="text-[9vw] xl:text-[118px] leading-none uppercase font-black text-primary font-termina">Creative </h1><div class="pl-[1.8vw]"><img src="../public/assets/images/artist-hero.png" alt=""></div>
			</div>
				<div class="flex items-center"><div class="pr-[1.5vw] -mt-[2vw]"><img src="../public/assets/images/clock-hero.png" alt=""></div><h1 class="text-[9vw] xl:text-[118px] leading-none uppercase font-black text-primary font-termina">developer </h1>
			</div>
				<div class="flex items-center mt-[1.8vw]"><h1 class="text-[9vw] xl:text-[118px] leading-none uppercase font-black text-primary font-termina flex items-center"><span class="new-font mr-[1.9vw]">and</span> designer <span class="text-[3vw] text-yellow-400">+</span> </h1>
			</div>

		
		</div>
	
	
	</div>

		<Tour />

	

	</main>
</body>
</html>
